<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.tiny.modules.epaper.mapper.EpaperPicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.macro.mall.tiny.modules.epaper.model.EpaperPic">
        <id column="epaper_uid" property="epaperUid" />
        <result column="user_id" property="userId" />
        <result column="epaper_original_id" property="epaperOriginalId" />
        <result column="date" property="date" />
        <result column="file" property="file" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
